<!DOCTYPE html>
<head>
    <title>Restaurant Page</title>
    <h1>Restos in Taft</h1>
    <link rel = "stylesheet" href="resto.css">
</head>


<script src = resto.hbs>


</script>

<body>
<button type = "button" onclick = "food(restoA)">restoA</button>


</body>
</html>


{{!-- function food(resto){
    
} --}}